<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Moa</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url_for('index', _external=True) }}"/>
    <meta property="og:title" content="Moa: Mastodon/Twitter Crossposter"/>
    <meta property="og:description" content="Link your Mastodon account to Twitter"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Moa: Mastodon/Twitter Crossposter"/>
    <meta name="twitter:description" content="Link your Mastodon account to Twitter"/>
    <link rel="icon" href="data:,">

</head>
<body>
<div class="center">
<pre>
 _ __ ___   ___   __ _
| '_ ` _ \ / _ \ / _` |
| | | | | | (_) | (_| |
|_| |_| |_|\___/ \__,_|
</pre>

    <p>Link your <a href="https://joinmastodon.org">Mastodon</a> account to <a href="https://twitter.com">Twitter</a> with <strong>Moa Bridge</strong>. No bamboozle.</p>

    <p id="cookiecheck" class="message" style="display: none;">Please allow cookies for this site or it won't work
        properly.</p>

    {% for message in get_flashed_messages() %}
        <p class="message">{{ message }}</p>
    {% endfor %}

    {% block body %}{% endblock %}

    <hr>

    <p>This Moa instance is invitation only.</p>
    <hr>
    <p>Code available on <a href="https://github.com/dhayab/moa-docker">github.com/dhayab/moa-docker</a> and based on <a href="https://gitlab.com/fedstoa/moa">gitlab.com/fedstoa/moa</a>.</p>

    <a href="{{ url_for('privacy') }}">Privacy Policy</a>

</div>

<script>
    if (!navigator.cookieEnabled) {
        var el = document.getElementById('cookiecheck');
        el.style.display = "block";
    }
</script>
</body>
</html>
